.layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #b8f2c9, #fdf497);
}

.content {
  flex: 1;
  overflow-y: auto;
}
